version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    depends_on:
      - ml_hair
    environment:
      - ML_SERVICE_URL=http://barbershop_ml_hair:5100

  ml_hair:
    build:
      context: ./ml_hair
      dockerfile: Dockerfile
    container_name: barbershop_ml_hair
    ports:
      - "5100:5100"


  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
